{% extends "base.html" %}
{% load static %}
{% block bodyblock %}

  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  <div class="signup-box">
    <h2>Sign Up</h2>
    <form method="post">
      {% csrf_token %}
      <div class="user-box">
        {{ form.username }}
        <label for="username">{{ form.username.label }}</label>
      </div>
      <div class="user-box">
        {{ form.password1 }}
        <label for="password1">{{ form.password1.label }}</label>
      </div>
      <div class="user-box">
        {{ form.password2 }}
        <label for="password2">{{ form.password2.label }}</label>
      </div>
      <a>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <button style="all: unset;" type="submit">Sign Up</button>
        <a href="{% url "login" %}">
          Go to Login
        </a>
      </a>
    </form>
  </div>
{% endblock bodyblock %}
